{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    {% block title %}
    <title>GrabGrub</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    <header class = "header">
        <img src="{% static 'img/logo.png' %}">
        <h1>GrabGrub</h1>

    </header>
    {% endblock %}
    {% include 'Kiosk/messages.html' %}
    <div class="sidebar">
        <div class="logo_content">
          <div class="logo">
            <i class='bx bx-user' ></i>
            <div class="logo_name">Add Customer Page</div>
          </div>
          <i class='bx bx-menu' id="btn" ></i>
        </div>
        <ul class="nav_list">
          <li>
            <a href="{% url 'customers' %}">
            <i class='bx bx-arrow-back' ></i>
              <span class="links_name">Back</span>
            </a>
            <span class="tooltip">Back</span>
          </li>
        </ul>
      </div>
    
    
      <script>
       let btn = document.querySelector("#btn");
       let sidebar = document.querySelector(".sidebar");
       let searchBtn = document.querySelector(".bx-search");
    
       btn.onclick = function() {
         sidebar.classList.toggle("active");
         if(btn.classList.contains("bx-menu")){
           btn.classList.replace("bx-menu" , "bx-menu-alt-right");
         }else{
           btn.classList.replace("bx-menu-alt-right", "bx-menu");
         }
       }
       searchBtn.onclick = function() {
         sidebar.classList.toggle("active");
       }
      </script>
    {% block forms %}
    <div class = "addorderform">
        <h1 class = "addorderheader">Add Customer</h1>
        <form method = "POST" action = "{% url 'add_customer' %}"> {% csrf_token %}
            <div>
                <div class = "choicesfield">
                    <label>Customer Name</label>
                    <input type = "text" class = "foodInput" name="customer_n" id="customer_n">
                </div>
                <br>
                <br>

                <div class = "choicesfield">
                    <label>Customer Address</label>
                    <input type = "text" class = "foodInput" name="customer_a" id="customer_a">
                </div>

                <br>
                <br>

                <div class = "choicesfield">
                    <label>Customer City</label>
                    <input type = "text" class = "foodInput" name="customer_c" id="customer_c">
                </div>
            </div>
            <br>
            <br>
            <input type = "submit" value = "Submit">

        </form>
    </div>

    {% endblock %}

</body>